body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4EBD3;
    font-family: 'Orbitron', sans-serif;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555879;
    width: 450px;
    height: 700px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px black;
}

.display-container {
    display: flex;
    align-items: center;
}

.display {
    margin: 32px 0 50px;
    padding: 5px;
    border: 3px solid #F4EBD3;
    font-size: 60px;
    background-color: #98A1BC;
    width: 360px;
    height: 72px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    overflow-y: hidden;
}

.buttons-container, .buttons {
    display: flex;
    gap: 12px;
}

.buttons-container{
    flex-direction: column;
}


button {
    width: 80px;
    height: 80px;
    border: none;
    font-size: 50px;    
    text-align: center;
    box-shadow: 4px 4px 5px black;
    font-family: 'Digital-7 Mono', sans-serif;   
}

button:hover {
    transform: translateY(-2px) scale(1.05);
}

.number {
    background-color: #98A1BC;
}

.operator {
    background-color: #DED3C4;
}

#clear, #delete {
    background-color: red;
}

.wide {
    width: 174px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 800;
    font-family: sans-serif;
}